<!DOCTYPE html>
<html>
<head>
  <title>MovieCountSnapshot</title>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">

     <!-- Bootstrap CSS -->
     <link href="/css/bootstrap.css" rel="stylesheet" media="screen">

     <!-- date range -->
     <link rel="/stylesheet" type="text/css" href="css/daterange.css">

     <!-- Main CSS -->
     <link href="/css/main.css" rel="stylesheet" media="screen">

     <!-- Font Awesome CSS -->
     <link href="/fonts/font-awesome.css" rel="stylesheet">
     <!--[if IE 7]>
       <link rel="stylesheet" href="fonts/font-awesome.css">
     <![endif]-->

     <!-- HTML5 shiv and Respond.js IE8 support of HTML5 elements and media queries -->
     <!--[if lt IE 9]>
       <script src="/js/html5shiv.js"></script>
       <script src="/js/respond.min.js"></script>
     <![endif]-->

  <%#= stylesheet_link_tag    "application", :media => "all" %>
  <%#= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

</head>

<body>

<%= yield %>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="/js/jquery.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/js/bootstrap.min.js"></script>

<!-- Flot Charts -->
<script src="/js/flot/jquery.flot.js"></script>
<script src="/js/flot/jquery.flot.time.js"></script>
<script src="/js/flot/jquery.flot.selection.js"></script>
<script src="/js/flot/jquery.flot.resize.js"></script>
<script src="/js/flot/jquery.flot.tooltip.js"></script>
<script src="/js/flot/flot.excanvas.min.js"></script>

<!-- Custom flot JS -->
<script src="/js/flot/custom/combine-chart.js"></script>

<!-- Sparkline graphs -->
<script src="/js/sparkline.js"></script>

<!-- Tyny Scrollbar -->
<script src="/js/tiny-scrollbar.js"></script>

<!-- Date Range -->
<script src="/js/daterange/moment.js"></script>
<script src="/js/daterange/daterangepicker.js"></script>

<!-- Custom JS -->
<script src="/js/custom.js"></script>
<script src="/js/custom-index.js"></script>
</body>
</html>
