<!DOCTYPE html>
<html>
<head>
  <title>MovieCountSnapshot</title>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">

     <!-- Bootstrap CSS -->
     <link href="/css/bootstrap.css" rel="stylesheet" media="screen">

     <!-- date range -->
     <link rel="/stylesheet" type="text/css" href="css/daterange.css">

     <!-- Main CSS -->
     <link href="/css/main.css" rel="stylesheet" media="screen">

     <!-- Font Awesome CSS -->
     <link href="/fonts/font-awesome.css" rel="stylesheet">
     <!--[if IE 7]>
       <link rel="stylesheet" href="fonts/font-awesome.css">
     <![endif]-->

     <!-- HTML5 shiv and Respond.js IE8 support of HTML5 elements and media queries -->
     <!--[if lt IE 9]>
       <script src="/js/html5shiv.js"></script>
       <script src="/js/respond.min.js"></script>
     <![endif]-->

  <%#= stylesheet_link_tag    "application", :media => "all" %>
  <%#= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

</head>

<body>

<div class="container">

  <!-- Top bar start -->
  <div class="top-bar">

    <div class="logo" style="font-size: 11px;
            padding: 23px;">
      <img style="width: 60px;" src="/assets/movie.png"/>
    </div>

    <!-- Search bar start -->
    <%= form_tag :controller => 'home', :action => "search", :id => "search" do %>
        <div class="custom-search hidden-xs">
          <input name='search' type="text" class="search-query" placeholder="Search By Movie Name">
          <i class="icon-search"></i>
        </div>
    <% end %>

    <!-- Search bar end -->

  </div>
  <!-- Top bar end -->

  <!-- Header start -->
  <header class="navbar" role="navigation">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="#" class="navbar-brand">&nbsp;</a>
    </div>
    <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">

      <ul class="nav navbar-nav">
        <li>
          <a href="/">Snapshot</a>
        </li class="active">

      </ul>

      <!-- Mini navigation start -->
      <ul class="nav navbar-nav navbar-right hidden-sm hidden-xs">
        <li class="dropdown">

        </li>
      </ul>
      <!-- Mini navigation end -->
    </nav>
  </header>
  <!-- Header end -->
<%= yield %>
</div>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="/js/jquery.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/js/bootstrap.min.js"></script>

<!-- Flot Charts -->
<script src="/js/flot/jquery.flot.js"></script>
<script src="/js/flot/jquery.flot.time.js"></script>
<script src="/js/flot/jquery.flot.selection.js"></script>
<script src="/js/flot/jquery.flot.resize.js"></script>
<script src="/js/flot/jquery.flot.tooltip.js"></script>
<script src="/js/flot/flot.excanvas.min.js"></script>

<!-- Custom flot JS -->
<script src="/js/flot/custom/combine-chart.js"></script>

<!-- Sparkline graphs -->
<script src="/js/sparkline.js"></script>

<!-- Tyny Scrollbar -->
<script src="/js/tiny-scrollbar.js"></script>

<!-- Date Range -->
<script src="/js/daterange/moment.js"></script>
<script src="/js/daterange/daterangepicker.js"></script>

<!-- Custom JS -->
<script src="/js/custom.js"></script>
<script src="/js/custom-index.js"></script>
</body>
</html>
